h1 {
  font-size: 1.7em;
  font-family: 'Lato', sans-serif;
  font-weight: 700; }

h2 {
  font-size: 1.4em;
  font-family: 'Lato', sans-serif;
  font-weight: 700; }

h3 {
  font-size: 1.2em;
  font-family: 'Lato', sans-serif;
  font-weight: 700; }

h4 {
  font-size: 1.1em;
  font-color: #666b74;
  font-family: 'Lato', sans-serif;
  font-weight: 700; }

p {
  font-size: 0.9em;
  font-color: #666b74;
  line-spacing: 1.1em;
  font-family: 'Lato', sans-serif;
  clear: both; }

a:active {
  color: #6ea3bb; }
a:hover, a:visited {
  color: #666b74; }

.panel-title a {
  text-decoration: none; }
  .panel-title a i.fa {
    color: #ffffff;
    font-weight: bolder;
    margin-right: 5px; }

.navbar {
  height: 73px; }

hr {
  font-size: 1pt; }

.carousel-indicators {
  display: none;
  visibility: hidden; }

blockquote {
  border: 0;
  padding-bottom: 10px; }
  blockquote p {
    margin-bottom: 10px;
    border: 2px solid #fdb913;
    border-left: 4px solid #fdb913;
    width: 55%;
    font-size: 10pt;
    padding: 10px;
    padding-left: 10px;
    float: right; }
    blockquote p .fa {
      font-size: 30pt !important;
      margin-right: 10px;
      float: left; }
  blockquote + p {
    padding-top: 20px; }

.block-controls {
  text-align: right; }

.page.top-level {
  padding: 0; }

@media screen and (min-width: 992px) {
  .page.top-level {
    padding: 0; }
    .page.top-level .panel-body {
      padding-left: 75px;
      padding-right: 75px; } }
.navbar {
  background: none;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #fdb913;
  box-shadow: none; }

.sub-navbar {
  margin-left: 15px;
  margin-bottom: 15px; }
  .sub-navbar .course-name {
    display: inline;
    border-left: 1px solid #999999;
    padding-top: -2px;
    padding-left: 10px;
    margin-left: 5px;
    color: #6ea3bb; }

section.block {
  margin-top: 15px;
  border: 1px solid #a2c07c;
  border-radius: 5px; }
  section.block .block-body {
    max-height: 300px;
    overflow: -moz-scrollbars-vertical;
    overflow: scroll;
    margin-right: 10px; }
    section.block .block-body::-webkit-scrollbar {
      -webkit-appearance: none; }
    section.block .block-body::-webkit-scrollbar:vertical {
      width: 11px; }
    section.block .block-body::-webkit-scrollbar:horizontal {
      height: 11px; }
    section.block .block-body::-webkit-scrollbar-thumb {
      border-radius: 8px;
      border: 2px solid white;
      /* should match background, can't be transparent */
      background-color: rgba(0, 0, 0, 0.5); }
    section.block .block-body::-webkit-scrollbar-track {
      background-color: #fff;
      border-radius: 8px; }
  section.block header {
    background-color: #a2c07c;
    padding: 0 10px;
    height: 50px; }
    section.block header h4 {
      padding-top: 4pt;
      text-align: center;
      color: #ffffff;
      margin: 0; }
  section.block ul {
    padding-left: 30px;
    padding-top: 10px;
    list-style-type: square; }
    section.block ul li {
      margin-bottom: 20px; }

.row.no-gutters > [class^="col-"], .row.no-gutters > [class*=" col-"] {
  padding-right: 0 !important;
  padding-left: 0 !important; }

@media screen and (max-width: 991px) {
  .row.no-gutters {
    margin-right: 0 !important;
    margin-left: 0 !important; } }
a:active {
  font-color: #6ea3bb; }
a:hover, a:visited {
  font-color: #666b74; }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.page .sub-carousel {
  border: 1px solid #666b74;
  padding: 0 !important; }
  .page .sub-carousel header {
    height: 40px;
    background-color: #666b74;
    color: #ffffff;
    margin-bottom: 20px; }
  .page .sub-carousel .carousel-inner {
    padding: 10px; }
  .page .sub-carousel footer {
    text-align: center;
    padding-top: 10px; }
    .page .sub-carousel footer a {
      text-decoration: none;
      color: #999999; }
      .page .sub-carousel footer a.previous-slide {
        margin-right: 60px; }
      .page .sub-carousel footer a i {
        font-size: 2em; }
.page aside .block h4 {
  padding-top: 15px; }
.page .carousel {
  padding: 20px; }
.page .carousel-control {
  background: none; }
  .page .carousel-control a {
    position: fixed !important; }
.page .tab-section .nav-tabs {
  border-bottom: 0; }
  .page .tab-section .nav-tabs li a {
    background: #666b74;
    color: #ffffff;
    border: 0;
    border-radius: 0; }
  .page .tab-section .nav-tabs li.active a {
    background-color: #a2c07c !important; }
.page.sub-topic {
  margin-bottom: 20px; }
  @media screen and (min-width: 992px) {
    .page.sub-topic .row {
      border-bottom: 1px solid #999; } }
.page .main-content .wrap {
  border-left: 1px solid #999999; }
@media screen and (max-width: 991px) {
  .page aside .wrap, .page .main-content .wrap {
    border: 1px solid #999999;
    border-radius: 2px; } }
@media screen and (max-width: 991px) {
  .page .nav-tabs li {
    float: none; } }
@media screen and (min-width: 992px) {
  .page aside .wrap {
    border-right: 0; } }
.page aside .wrap {
  padding-top: 22px !important;
  border-top-right-radius: 0;
  padding: 0;
  margin-bottom: 10px; }
  .page aside .wrap hr {
    margin-left: 3px;
    margin-right: 2px;
    border-top: 1px solid #999; }
  .page aside .wrap ul {
    padding-left: 0; }
    .page aside .wrap ul li {
      padding-left: 10px;
      margin-bottom: 10px;
      list-style-type: none; }
      .page aside .wrap ul li.active {
        background-color: #96c5d8;
        padding-bottom: 5px;
        padding-top: 5px; }
        .page aside .wrap ul li.active a {
          color: #000; }
      .page aside .wrap ul li a {
        color: #999999;
        text-decoration: none; }
.page .main-content .wrap {
  border-top-left-radius: 0;
  padding: 0 2px; }
  .page .main-content .wrap header {
    padding: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #999999; }
    .page .main-content .wrap header h1 {
      display: inline; }
      .page .main-content .wrap header h1 span {
        border-left: 1px solid #999999;
        padding-top: -2px;
        padding-left: 10px;
        margin-left: 5px;
        color: #6ea3bb; }
  .page .main-content .wrap main {
    margin-top: 5px;
    min-height: 408px; }
    .page .main-content .wrap main h2, .page .main-content .wrap main h3 {
      color: #96c5d8; }
.page.sub-topic-carousel footer {
  border-top: 1px solid #999999;
  min-height: 50px; }
  .page.sub-topic-carousel footer nav {
    float: right;
    margin-top: 15px;
    margin-right: 15px; }
    .page.sub-topic-carousel footer nav a {
      color: #999999;
      display: block;
      float: left; }
      .page.sub-topic-carousel footer nav a.left {
        border-right: 1px solid #999999;
        padding-right: 5px;
        margin-right: 5px; }
      .page.sub-topic-carousel footer nav a i {
        font-size: 10pt; }
.page i.fa {
  font-size: 14pt;
  color: #999999; }
.page header .navbar .navbar-brand img {
  margin-top: -16px; }
.page main {
  margin-top: 10px; }
  .page main .embed-responsive {
    margin-bottom: 10px; }
  .page main .sub-topics {
    margin-top: 20px; }
    .page main .sub-topics article {
      color: #6ea3bb;
      margin-bottom: 20px;
      border: 1px solid #6ea3bb;
      border-radius: 5px; }
      .page main .sub-topics article header {
        min-height: 50px;
        padding: 3px;
        margin: auto 2px; }
        .page main .sub-topics article header h3 {
          margin: 2px; }
      .page main .sub-topics article .body {
        padding: 10px;
        border-top: 1px solid #6ea3bb;
        border-bottom: 1px solid #6ea3bb;
        margin: auto 5px;
        min-height: 100px; }
      .page main .sub-topics article .body.withbackground {
        border: 0;
        margin: auto 0;
        background-size: cover;
        background-position: center;
        color: #ffffff; }
      .page main .sub-topics article .withbackground {
        background-image: url(https://static1.squarespace.com/static/5446c540e4b05d7074088ef0/t/55e6dd7ce4b0c94c8af90ab9/1418734303957/Stockholm-Public-Library-Interior-2.jpg?format=1500w); }
      .page main .sub-topics article footer {
        text-align: right;
        padding-top: 15px;
        margin-left: 2px;
        margin-right: 2px; }
  .page main .btn-dashboard {
    border-radius: 5px;
    background: none;
    background-color: #666b74;
    color: #ffffff;
    text-shadow: none;
    border: 0;
    height: 40px;
    font-size: 1.1em; }
  .page main .btn-review {
    border-radius: 5px 0 5px 0;
    background: none;
    background-color: #666b74;
    color: #ffffff;
    text-shadow: none;
    border: 0;
    height: 40px;
    font-size: 1.1em;
    margin-right: -3px;
    margin-bottom: -1px;
    width: 120px;
    padding-top: 10px; }
  .page main .btn-continue {
    border-radius: 5px 0 5px 0;
    background: none;
    background-color: #6ea3bb;
    color: #ffffff;
    text-shadow: none;
    border: 0;
    height: 40px;
    font-size: 1.1em;
    margin-right: -3px;
    margin-bottom: -1px;
    width: 120px;
    padding-top: 10px; }
  .page main .btn-start {
    border-radius: 5px 0 5px 0;
    background: none;
    background-color: #fdb913;
    color: #ffffff;
    text-shadow: none;
    border: 0;
    height: 40px;
    font-size: 1.1em;
    margin-right: -3px;
    margin-bottom: -1px;
    width: 120px;
    padding-top: 10px; }
  .page main .panel {
    border: 0; }
    .page main .panel .panel-heading {
      border-radius: 0;
      background: none; }
      .page main .panel .panel-heading h4, .page main .panel .panel-heading h2 {
        color: #ffffff; }
      .page main .panel .panel-heading.collapsed {
        background-color: #6ea3bb; }
      .page main .panel .panel-heading.expanded {
        background-color: #96c5d8; }

/*# sourceMappingURL=styles.css.map */
